h2 {
    color: rgba(0, 0, 0, 0.54) !important;
    font-size: 50px;
    margin-top: 10px;
}

.table {
    margin-left: 20vw;
    margin-right: 20vw;

    width: 60vw !important;
}

.smallrow {
    display: none !important;
}

@media (max-width: 720px) {
    .table {
        margin-left: 5vw;
        margin-right: 5vw;

        width: 90vw !important;
    }

    thead {
        display: none !important;
    }

    .smallrow {
        display: table-row !important;
        border-bottom: unset;
    }

    .normalrow {
        display: none !important;
    }
}